{% extends "base.html"%}

{% block main %}

<h2>Property-Form</h2>

{%include 'flash_messages.html'%}
<form method="post" enctype="multipart/form-data" action="{{ url_for('create_property')}}">
    {{form.csrf_token}}
   <div class = "main"> 
        <div id ="grid_1" class="container">
            <div class="field"> 
                {{form.p_title.label}}</br> {{form.p_title}}
            </div>

            <div class ="field">
                {{form.description.label}}</br> {{form.description}}
            </div>     
        </div>

        <div class=" container2">
            
            <div>
                {{form.number_bedrooms.label}}</br>{{form.number_bedrooms}}
            </div>
            <div>
                {{form.number_bathrooms.label}}</br> {{form.number_bathrooms}}
            </div>
            <div>
                {{form.price.label}}</br> {{form.price}}
            </div>
            <div>
                {{form.property_type.label}}</br> {{form.property_type}}
            </div>

        </div>

        <div class="container3">
            <div>
                {{form.location.label}}</br>{{form.location}}
            </div>
            <div>
                {{form.photo.label}}</br>{{form.photo}}
            </div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
    


{% endblock%}