{%extends "base.html"%}

{%block main%}

    <h3>Property Listing</h3>
    {%include "flash_messages.html"%}
    <ul>
        {%for i in lst%}
           <div class = 'img_tile'>
                <div class ='property_img'>
                <li><img src="{{url_for('get_image',filename=i.photo)}}" width=350 height="250"></li>
                </div>
                <div class = 'property_info'>
                <p1>{{i.title}}</p1></br>
                <p1>{{i.location}}</p1></br>
                <p1>{{i.price}}</p1></br>

                <div id="link">
                <a href="{{url_for('view_property',id=i.id)}}" id="prop_link">view property</a>
                </div>

                </div>
            </div>
        {%endfor%}
    </ul>

{% endblock %}